body {
    font: 14px "Poppins";
    color: #414042;
    background: #f9f9f9;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0px 0px 0px;
    min-width: 960px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > header {
    height: 100px;
    width: 100%;
    background: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    height: 40px;
    margin: auto 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('obrazky/logo.png') no-repeat;
    background-size: 40px 40px;
}

#logo > * {
    margin: 0 0 0 50px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: #222;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.3em;
}

nav ul a {
    color: #222;
    padding: 8px 0;
    text-decoration: none;
    text-transform: lowercase;
}

nav ul a:hover, .aktivni a {
    border-bottom: 2px solid black
}

.no-underline {
    text-decoration: none;
    color: inherit;
}


article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0px 0px 0px;
    color: #222;
}

article header {
    height: 80px;
}

.avatar {
    float: right;
    width: 300 px;
    padding-left: 10px;
    filter: grayscale(1);
}

.cistic {
    clear: both;
}

.reference-tlacitko {
    background: #222;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    border-radius:25px;
}

article {
    margin: auto;
    max-width: 960px;
    padding: 50px 50px 10px 50px;
    text-align: left;
}

article h1 {
    margin: 50px 50px 50px 0px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    width: max-content;
    border-bottom: 4px solid gray;
}

article h2 {
    font-size: 2em;
}

article h3 {
    font-size: 1.3em;
    margin: 0px 0px 30px 10px;
}

article section p {
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

article section a {
    color: #2832C2;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight:normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}


}

.kontakt-tlacitko:hover,
.reference-tlacitko:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}

a:hover {
  text-decoration: none;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url('obrazky/wallb.png');
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: center;
    height: 25vh;
    width: 100%;
    justify-content: center;
    margin-top: auto;
}

.card-img-top {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.card {
    text-align: justify;
}

.row {
    align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text-justify {
text: justify;
}


* {box-sizing:border-box}

.skill-bar {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skill-text {
  text-align: right; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: white; /* White text color */
}
.bar-100 {width: 100%; background-color: #808080;}
.bar-90 {width: 90%; background-color: #808080;}
.bar-80 {width: 80%; background-color: #808080;}
.bar-60 {width: 60%; background-color: #808080;}